<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h3>Search Results</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 results">
      <table class="table table-responsive">
        
      </table>
    </div>
  </div>
</div>
